# Chapter 6: Common Operations in Pandas

Throughout the first 5 chapters, we were able to see the great set of methods and functionalities Pandas offers. It offers you a very flexible and comprehensive toolkit to deal with any dataset in a SQL-like or spreadsheet format. Understanding the functionalities well and being familiar with the fundamentals of Pandas will be extremely resourceful. Being accustomed to pandas will offer you the superpower to do complex analysis and simplify the results in whatever way you may want.

Therefore, in order to give you a breif hint of a short set of the limitless capabilities that Pandas can offer, we will go through the guided exercises below. You will cover basic SQL like functions that you can also perform on Pandas. Don't worry if you are not familiar with SQL. Our purpose is to start with combining different tables and appending data to the existing ones. Moreover, we will also have a look at how dataframes can be re-structured into different shapes and multi-indexed structured to get a better view of the dataframe that fulfills the need.

### Guided Practice

In this guided practice we will use additional meta data to help improve the analysis regarding existence of Racial bias in Police stops. In order to move ahead, we will again import the police beat demographic data. Our first task in this exercise would be to combine both the data frames together. But how can we do it when format in both the dataset is very distinct. The police stops data is arranged with a row for every stop, whereas, the demographic data has a row for every beat. 

Since we need an aggregate analysis for every beat, we will group the police stops data by beat and perform aggregation on for selected columns in each beat. Since this new grouped dataframe will be listed by beat, we will join the demographic dataframe with it in order to compare both stops demographics with racial demographics in each beat.

In [1]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Reading in the latest police stops dataframe
stops_filtered = pd.read_pickle('stops_filtered_2.pkl')

In [3]:
# Getting the beatrace dataframe
df = pd.read_pickle('beatrace.pkl')

We will first create a dataframe grouped by beat and we will sum all the dummy variables we created for every race. Remember, applying sum on a dummy variable will give a sum of all True occurences.

In [5]:
# Group by Beat and sum all Race dummys
stops_race = stops_filtered.groupby('BEAT_I').sum()[['DRRACE_1','DRRACE_2','DRRACE_3',
                                                     'DRRACE_4','DRRACE_5','DRRACE_6']]
# Reset index will enable us to have the beat id as a column rather than an index
stops_race = stops_race.reset_index()
stops_race.head(10)

   BEAT_I  DRRACE_1  DRRACE_2  DRRACE_3  DRRACE_4  DRRACE_5  DRRACE_6
0     111      99.0     171.0       6.0      78.0      17.0       2.0
1     112      64.0     153.0       3.0      44.0       8.0       1.0
2     113      85.0     137.0       3.0      64.0      17.0       4.0
3     114     129.0     220.0       8.0      95.0      33.0       3.0
4     121      35.0      56.0       3.0      23.0       5.0       0.0
5     122      65.0      89.0       2.0      39.0      11.0       1.0
6     123     139.0     366.0      12.0     123.0      44.0      10.0
7     124     103.0     169.0       4.0     137.0      17.0       1.0
8     131     114.0     491.0      10.0      85.0      43.0       1.0
9     132      49.0     156.0       1.0      45.0      11.0       5.0

We will now use sql-like JOIN operations as shown below to merge both the datasets. Pandas offers the [.join()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html) to perform this.
![](https://www.dofactory.com/img/sql/sql-joins.png)

In [7]:
# Join Kaggle Data
#stops_race.join(df, on='Beat_Name', how='left', rsuffix='_kaggle')
#stops_race['Beat_Name'] = stops_race['Beat_Name'].str.zfill(4).astype('object')